doctype html

html
  head
    title Hello!
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 This page was served by: #{hostname}
